
@font-face {
  font-family: 'ar';
  src: url('fonts/ar.eot?#iefix') format('embedded-opentype'),  url('fonts/ar.woff') format('woff'), url('fonts/ar.ttf')  format('truetype'), url('fonts/ar.svg#UkrPresidentPSMT') format('svg');
  font-weight: normal;
  font-style: normal;
}
